.aboutdiv{
    padding: 1rem;
}

.flex{
    display: flex;
}

#right{
    width: 40%;
}

#left{
    width: 60%;   
}

#right{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading p{
    font-size: 1rem;
}

#green{
    color: #00A851;
}

.subheading{
    margin-top: 2rem;
    font-size: 1rem;
}

.focus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 0px 30px 50px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-top: 2rem;
    padding: 1rem;
    transition: all 1s ease-in-out;
    background-color: white;
}

.branding{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.branding img{
    width: 3rem;
}

.branding p{
    font-size: 0.5rem;
}

span{
    color: #00A851;
    font-size: 0.6rem;
}

.backbtn{
    margin-top: 1rem;
    width: 100%;
    padding: 0.3rem;
    border: 2px solid #00A851;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backbtn p{
    font-size: 0.5rem;
    color: black;
}

.focus p{
    text-align: center;
}

.para{
    margin-top: 1rem;
    font-size: 0.6rem;
    color: black;
}

@media (max-width: 1300px){
    #left{
        width: 100%;
        margin-top: 2rem;
    }

    #right{
        margin-top: 2rem;
        width: 100%;
    }

    .flex{
        flex-direction: column-reverse;
    }
}

@media (max-width: 420px){
    .heading{
        width: 70%;
    }
}

@media (max-width: 350px){
    .heading{
        width: 100%;
    }
}