.cat{
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    padding: 0.1rem;
    color: white;
    display: flex;
}

.images{
    width: 80%;
    height: 100%;
}

.images img{
    width: 4rem;
}

.cat div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.4rem;
}

.viewbtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 50%;
    color: white;
}

.view{
    width: 20%;
}

.view p{
    font-size: 0.6rem;
}

@media (max-width:450px){
    .images img{
        width: 3rem;
    }
}