.home{
    width: 100%;
    height: 100vh;
}

.main{
    padding: 0.6rem;
}

.text{
    width: 55%;
    height: 100%;
}

.image{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h1{
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.cont h1{
    margin-bottom: 1rem;
}

#spe{
    color: #00A851;
    font-size: 0.5rem;
}

#col{
    color: #00A851;
}

.image img{
    width: 10rem;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont{
    padding: 0.4rem;
    width: 100%;
    height: 30%;
    margin-top: 1rem;
}

.about p{
    font-weight: 100;
    font-size: 0.5rem;
}

.btn{
    border: 3px solid #00A851;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 15px;
    margin-top: 1rem;
}

.btn p{
    font-weight: bold;
    color: black;
}

@media (max-width: 1200px){
    .image img{
        width: 10rem;
    }
}

@media (max-width: 450px){
    .about{
        flex-direction: column;
    }

    .text{
        width: 100%;
    }

    .image{
        width: 100%;
    }
}