.home{
    width: 100%;
    height: 100vh;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gall{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

#mainimg{
    width: 8rem;
}

.gall img{
    width: 4rem;
}

.main{
    padding: 1rem;
}

.text{
    width: 55%;
    height: 100%;
    margin-top: 1rem;
}

.image{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h1{
    margin-bottom: 1rem;
}

.cont h1{
    margin-bottom: 1rem;
    font-size: 1rem;
}

#spe{
    color: #00A851;
    font-size: 0.6rem;
}

#col{
    color: #00A851;
    font-size: 1rem;
}

.image img{
    width: 10rem;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont{
    padding: 0.4rem;
    width: 100%;
    height: 30%;
    margin-top: 1rem;
}

.about p{
    font-weight: 100;
    font-size: 0.6rem;
    color: black;
}

.btn{
    border: 1px solid #00A851;
    width: fit-content;
    padding: 0.4rem 1rem;
    border-radius: 30px;
    margin-top: 1.5rem;
}

.btn p{
    color: black;
}

.catalog{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    padding: 0.5rem;
    border-radius: 15px;
}

@media (max-width: 1200px){
    .image img{
        width: 10rem;
    }
}

@media (max-width: 450px){
    .about{
        flex-direction: column;
    }

    .text{
        width: 100%;
    }

    .image{
        width: 100%;
    }

    .image img{
        margin-top: 1.5rem;
    }
}