.links{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links p{
    font-size: 0.7rem;
    color: #1E1E1E;
}

.links img{
    width: 4rem;
}

@media (max-width: 500px){
    .links img{
        width: 6rem;
    }
}