.pros{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pros div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 0.5rem;
}

.pros div p{
    margin-top: 0.7rem;
    font-size: 0.5rem;
}

.drop{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #00A851;
    padding: 0.5rem;
    border-radius: 15px;
}

.drop select{
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    outline: none;
}

.drop img{
    width: 50%;
}

.homebtn{
    background-color: #00A851;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    margin-right: 1rem;
}

#product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 0.2rem;
    background-color: white;
}

#product img{
    width: 3.5rem;
}

#product p{
    font-size: 0.6rem;
}
