.productdiv{
    padding: 1rem;
}

#p, table{
    margin-top: 1rem;
}

table, th, td{
    border: 1px solid #00A851;
    text-align: center;
}

th{
    font-size: 0.7rem;
    padding: 0.3rem;
}

td{
    font-size: 0.5rem;
    padding: 0.3rem;
}

.brand{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.brand img{
    width: 4rem;
}

.bagimg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
}

#bag{
    width: 12rem;
}

.brand p{
    font-size: 0.7rem;
    text-align: center;
}

.product{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product div{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content{
    margin-top: 2rem;
}

.content div{
    margin-top: 1rem;
}

.title{
    width: 100%;
}

.title h2{
    text-align: center;
    color: #00A851;
}

.details h4{
    color: #00A851;
}

.details p{
    font-size: 0.6rem;
}

.aboutpro{
    width: 100%;
    display: flex;
}

#price{
    width: 50%;
    padding: 0.5rem;
}

#description{
    width: 50%;
    border-radius: 15px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 3px 50px rgba(0, 168, 81, 0.3);
}

#price .details{
    margin-top: 2rem;
}

#description p{
    margin-top: 1rem;
    font-size: 0.6rem;
    color: black;
}

#description ul{
    padding: 1rem;
}

#description ul li{
    font-size: 0.6rem;
    color: #00A851;
}

@media (max-width: 800px){
    .aboutpro{
        flex-direction: column;
    }

    #price{
        width: 100%;
    }

    #description{
        width: 100%;
    }
}