.productdiv{
    padding: 1rem;
}

.brand{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.brand img{
    width: 4rem;
}

.bagimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#bag{
    width: 12rem;
}

.brand p{
    font-size: 0.6rem;
}

.product{
    margin-top: 2rem;
    width: 100%;
}

.content{
    margin-top: 2rem;
}

.content div{
    margin-top: 1rem;
}

.title{
    width: 100%;
}

.title h2{
    text-align: center;
    color: #00A851;
}

.details h4{
    color: #00A851;
}

.details p{
    font-size: 0.6rem;
}

.aboutpro{
    width: 100%;
    display: flex;
}

#price{
    width: 50%;
    padding: 0.5rem;
}

#description{
    width: 50%;
    border: 2px solid #00A851;
    border-radius: 15px;
    padding: 1rem;
}

#description p{
    margin-top: 1rem;
    font-size: 0.6rem;
}

@media (max-width: 800px){
    .aboutpro{
        flex-direction: column;
    }

    #price{
        width: 100%;
    }

    #description{
        width: 100%;
    }
}